
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/workspace.ini
.spyproject/config/workspace.ini
Data/InertiaData/Inertia2016-2022.csv
*.pyc
__pycache__/NeuralNet.cpython-38.pyc
*.pyc
